/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-shadow: border-box;
}



html{
    scroll-behavior: smooth;
}

.cover {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/tec3.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}







/* body{
  
   
} */




/* header section */ 
.container{
    padding: 10px 10%;
}

nav h1{
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

nav h1 span{
    color: #ff004f;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2% 6%;
 

}



nav img{
    width: 20px;
}

.nav-links{
    flex: 1;
    text-align: center;
}





/* header {
    background: #cdcdca;
    color: #cac3c3;
  
} */



nav ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
  
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    font-weight: normal;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
 
}

nav ul li a:hover::after{
    width: 100%;
}

.btn{
    border-radius: 10px;
    font-size: 15spx;
    margin: 10px;
    padding: 10px;
    color: white;
    background: #7A1CAC;
}

.banner{
   position: relative;

}

.banner img{
    width: 100%;
    height: 10%;
   
}

.banner-text{
    /* position: absolute;
    top: 25%;
    color: #41dd1b;
    padding: 20px;
    text-align: center; */
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}



.banner-text h1{
    font-size: 62px;
    font-weight: bold;
    text-transform: uppercase;
   
}


.banner-text p{
    font-size: 25px;
    margin: 10px 0 40px;
    color: #fff;
    
}



.hero-btn{

    /* display: block;
    margin: 30px;
    width: fit-content;
    border-radius: 4px;
    padding: 14px 50px;
    border: 1px solid #ff004f;
    text-decoration: none;
    color: #fff;
    background: #ff004f;
    font-size: 18px;
    transition: background 0.5s; */

    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
   
 }
.hero-btn:hover{
    border: 1px solid #ff004f;
    background: #ff004f;
    transition: 1s;


}


nav .fas{
    display: none;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}

/* course */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300; 
    line-height: 22px;
    padding: 10px;
}
.course-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/* header, section, footer {
    padding: 20px;
    text-align: center;
} */


/* about section */

#about{
    padding: 100px 0;
    margin-top: 50px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}
.about-col-2{
    flex-basis: 55%;
    
}

.about-col-2 p{
    font-size: 20px;
    font-weight: 300;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    
}


/* up coming events */



/* body {
    background-color: #f8f8f8;
    color: #333;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
} */


.event {
    text-align: center;
    margin-bottom: 30px;
}
.event h1 {
    font-size: 36px;
    color: #333;
}
.event p {
    color: #777;
    margin-top: 10px;
}
.language-toggle {
    text-align: center;
    margin-bottom: 20px;
}
.language-toggle button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: white;
    font-weight: bold;
}
.event-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.event-item {
    background: #fff;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.event-item:hover {
    transform: translateY(-5px);
}
.event-image {
    position: relative;
    height: 200px;
}
.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-date {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0066cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}
.event-content {
    padding: 20px;
}
.event-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.event-details {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}
.event-details .icon {
    margin-right: 5px;
}
.rtl {
    direction: rtl;
    text-align: right;
}


/* faq about */
/* .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
} */

.fre-col{
    display: flex;
    gap: 15px;
    padding: 15px;
}

.fre-container{
    padding: 20px;
    margin-top: 80px;
}
.accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    
}
.accordion-item {
    border-bottom: 1px solid #ddd;
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-header {
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}
.accordion-body {
    display: none;
    padding: 15px;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
}
.accordion-header.active + .accordion-body {
    display: block;
}
/* Icon Styling */
.accordion-header::after {
    content: "+";
    float: right;
    font-weight: bold;
}
.accordion-header.active::after {
    content: "-";
}
/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}




/* faecilities */

.fac-col{
    text-align: center;
}
/* service-list */


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 0 5%;
   
 }

 .services-list div{
    background: #0a3e5b;
    color: white;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
 }
 .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
 }
 .services-list div h2{
     font-size: 30px;
     font-weight: 500;
     margin-bottom: 15px;
 }
 .services-list div a{
    text-decoration: none;
    color: #e5dbdb;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
 }

 .services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
 }

.language-switcher {
   
    position: fixed;
    top: 7px;
    right: 15px;
    padding: 5px;

    
}






h1, h2 {
    margin-bottom: 10px;
}

.solution {
    margin: 20px 0;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 8px;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#contact input, #contact textarea, #contact button {
    
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 10px;
}

#contact button {
    background: #ff004f;
    color: #fff;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background: #0056b3;
}

footer {
  
    background: #EAE4DD;
    padding: 25px;
    font-size: 0.8em;
}




/* faq-list */


#faqs{
    padding: 40px 0;
}

.feq-p{
    font-size: 25px;
    font-weight: 300;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 60px;
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }

 .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s; 
 }
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
 }
 .layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

 }

 .work:hover img{
    transform: scale(1.1);

 }
 .work:hover .layer{
    height: 100%;
 }

/* content section */
.content {
    flex: 1;
    padding-right: 20px;
}

.cont-about{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;

}
.content h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}
.content p {
    color: #777;
    margin-bottom: 20px;
    line-height: 1.6;
}
.progress-bar-container {
    margin-top: 20px;
}
.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    height: 20px;
}
.progress-bar span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #333;
}
.progress-bar .progress {
    height: 100%;
    background-color: #0066cc;
    width: 0;
    transition: width 0.3s;
}
.progress-bar-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.image {
    flex: 1;
    display: flex;
    justify-content: center;
}
.image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}
.rtl {
    direction: rtl;
    text-align: right;
}


 /* contact information */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 55%;
    margin-top: 25px;
}
.contact-left p{
    margin-top: 30px;
    
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #0c0c0c;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}


.con-sub-title{
    font-size: 50px;
    font-weight: 600;
    color:#090909;
    margin-top: 25px;
}



.contact-right form{
    width: 100%;
    
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 10px ;
    color: #080808;
    font-size: 18px;
  
  

}
form .btn2{
    padding: 8px 30px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.copyright{
    margin-top: 25px;
}

.copyright p{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
   
}





/* responsive style */



@media screen and (max-width: 576px) {
    .header{
        padding: 50px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .banner{
        flex-direction: column;
    }

    .banner{
        margin-top: 20px;
        font-size: 16px;
        padding: 15px;

        
    }

    .banner img{
        width: 50%;
        padding: 40px;
        margin-top: 30px;
    }
    .banner-text h1{
        font-size: 30px;
        
    }

    .banner-text p{
        font-size: 25px;
    }
    
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }


    .course-row{
        flex-direction: column;
    }
    .fre-col{
        flex-direction: column;
    }

    .course h1{
        font-size: 25px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 6px;
    }
    .cont-about{
        flex-direction: column;
    }

    .sub-title{
        font-size: 25px;
    }
 
    .content h2{
        font-size: 25px;
    }
    .con-sub-title{
        font-size: 25px;
    }

    .social-icons a{
        font-size: 15px;
    }

    .contact-right form{
        width: 50%;
        
    }

    .copyright p{
        font-weight: 300;
        font-size: 15px;
    
     
       
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    
    .banner{
        flex-direction: column;
    }

   
}





